In [1]:
#Basic Library
import numpy as np
import pandas as pd

In [2]:
#For data visualize
import matplotlib.pyplot as plt

In [3]:
#For machine learning
#model = tree.DecisionTreeClassifier()
from sklearn import tree
from sklearn.model_selection import train_test_split

In [4]:
#Read File
df = pd.read_csv("Airfoil (NACA).csv")
df.head()

       Airfoils  AoT_Cl0.5       Cd      Cl/Cd
0   NACA 63A010        4.1  0.01236  40.453074
1   NACA 63012A        4.0  0.01244  40.192926
2  NACA 63-015A        3.9  0.01364  36.656892
3   NACA 63-210        2.4  0.01117  44.762757
4   NACA 63-212        2.3  0.01127  44.365572

In [5]:
#Data size
len(df)

120

In [6]:
labels = df.columns.tolist()
labels

['Airfoils', 'AoT_Cl0.5', 'Cd', 'Cl/Cd']

In [7]:
#Define the coordinates of data for find relation.
X = df[["AoT_Cl0.5", "Cl/Cd"]]
y = df["Airfoils"]

In [8]:
#Creating model
model = tree.DecisionTreeClassifier()
model = model.fit(X, y)

In [9]:
#We need to know the max of Cl/Cd in our data to predict what airfoil are highest Cl/Cd and have AOT and Cd reach to 0.
print(df["Cl/Cd"].max())

49.85044865

In [10]:
for index, row in df.iterrows():
    if(row["Cl/Cd"] == df["Cl/Cd"].max()):
        print(row)

Airfoils     NACA 64-206
AoT_Cl0.5            2.6
Cd               0.01003
Cl/Cd            49.8504
Name: 33, dtype: object

In [11]:
#Predict data
Airfoil = model.predict([[df["AoT_Cl0.5"].min(), df["Cl/Cd"].max()]])
Airfoil

array(['NACA6409 9%'], dtype=object)

In [12]:
FinAndRudder = model.predict([[df["AoT_Cl0.5"].max(), df["Cl/Cd"].max()]])
FinAndRudder

array(['NACA 0008'], dtype=object)

In [13]:
for index, row in df.iterrows():
    if(row["Airfoils"] == Airfoil[0]):
        print(row)

Airfoils     NACA6409 9%
AoT_Cl0.5           -2.3
Cd               0.01027
Cl/Cd            48.6855
Name: 86, dtype: object

In [14]:
for index, row in df.iterrows():
    if(row["Airfoils"] == FinAndRudder[0]):
        print(row)

Airfoils     NACA 0008
AoT_Cl0.5          4.3
Cd             0.01037
Cl/Cd           48.216
Name: 88, dtype: object

In [15]:
#Score by train data.
model.score(X, y)

0.9833333333333333